* {
  margin: 0;
  padding: 0;
}
h5 {
  color: grey;
}
body {
  font-family: "Work Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 100;
}
header {
  background-color: rgba(255, 144, 14, 0.1);
}
nav {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
}
nav ul li a {
  color: black;
  text-decoration: none;
}
.banner,
nav {
  margin: 0 auto;
  width: 90%;
  max-width: 1440px;
}
.banner .content {
  margin: 0 auto 30px auto;
  text-align: center;
  max-width: 860px;
}
.banner img {
  width: 100%;
}
.btn {
  background-color: #ff900e;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  margin-top: 32px;
}
#feature {
  margin-top: 150px;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 73px;
}
#feature .photo-grid {
  display: grid;
  grid-template-columns: repeat(2, 350px);
  row-gap: 24px;
  column-gap: 24px;
}
#feature .content-feature {
  width: 34%;
  max-width: 540px;
}
#feature2 {
  justify-content: space-between;
  display: flex;
  gap: 50px;
  margin: 140px auto 0 auto;
  width: 90%;
  max-width: 1440px;
}
#feature2 .big-card .x {
  margin-bottom: 20px;
  border-left: 5px solid #ff900e;
  padding: 10px;
  width: 60%;
  max-width: 590px;
}
#feature2 .big-card .x h2 {
  font-size: 2.8em;
  margin-bottom: 10px;
}
.big-card {
  width: 60%;
  max-width: 590px;
  display: flex;
  flex-direction: column;
}
#feature2 .big-card .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  height: 170px;
  margin-top: 30px;
  box-shadow: 1px 1px 30px rgb(195, 189, 189);
  width: 100%;
  max-width: 590px;
  padding: 30px;
  box-sizing: border-box;
}
.z {
  margin-top: -70px;
  margin-left: -70px;
}
